body
{
    background-image: url("../images/booksBG.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat ;
}

.text{
    color: white;
    position: absolute;
    font-size: 1.2vw;
    font-family: 'Russo One', sans-serif;
    font-size-adjust: none;
    top: 60vh;
    left: 45%;
    transform: translate(-50%, -50%);
    margin: 5%;
    margin-top: 5%;
    padding: 5%;
    margin-top: 1vh;
    max-width: fit-content;
    block-size: fit-content;
    text-align: justify;
    text-justify: inter-word;
    border: 3px solid;
    background-color: darkgreen;
}

@media (max-width: 1300px)
{
    .text
    {
        margin-top: 30%;
        font-size: 2vw;
    }
    
}

@media (max-width: 700px)
{
    .text
    {
        margin-top: 15%;
        font-size: 3vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    
}