body
{
    background-image: url("../images/booksBG.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat ;
}


img{
    padding-left: 5%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 65%;
    max-width:80vw;
}

.text{
    color: white;
    position: absolute;
    font-size: 1.2vw;
    font-family: 'Russo One', sans-serif;
    font-size-adjust: none;
    top: 60vh;
    left: 45%;
    transform: translate(-50%, -50%);
    margin: 5%;
    padding: 5%;
    margin-top: 1vh;
    max-width: fit-content;
    block-size: fit-content;
    text-align: justify;
    text-justify: inter-word;
    border: 3px solid;
    background-color: darkgreen;
}
