
body, html {
    height: 100%;
  }

  .title
  {
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-size: 7vw;
    color: white;
    margin-left: 25%;
    text-shadow: -5px -5px 0 #0d407f, 10px -10px 0 #0a2d58, -5px 5px 0 #0d407f, 5px 5px 0 #0d407f;
    margin-top: 35vh;
  }
  
.parallax {
    /* The image used */
    background-image: url("../images/bgGame.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



.block
{
    height: 100%;
    background-color: rgb(13, 64, 127);
    color: rgb(251,248,246);
    font-family: 'Poppins',sans-serif;
}