
body, html {
    height: 100%;
  }

  .btitle
  {
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-size: 7vw;
    color: white;
    margin-left: 25%;
    text-shadow: -5px -5px 0 #0d407f, 10px -10px 0 #0a2d58, -5px 5px 0 #0d407f, 5px 5px 0 #0d407f;
    margin-top: 38vh;
  }
  
.parallax {
    background-image: url("../images/bgGame.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



.block
{
    min-height: 100%;
    max-height: 400%;
    background-color: rgb(13, 64, 127);
    color: rgb(251,248,246);
    font-family: 'Poppins',sans-serif;
}

.block2
{
  min-height: 100%;
    max-height: 400%;
    background-color: rgb(15, 51, 7);
    color: rgb(251,248,246);
    font-family: 'Poppins',sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 30%;
  margin-top: 4%;
  margin-left: 12%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media (max-width: 1000px) {
  .column {
    float: left;
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
}