body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .topbar {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    width: 100%;
    top:0;
    z-index:3;

  }


  
  .topbar a {
    float: left;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .topbar a:hover {
    transition: all .3s ease-in-out;
    background-color: #ddd;
    color: black;
  }
  
  .topbar a.active {
    transition: all .3s ease-in-out;
    background-color: crimson;
    color: white;
  }

  .topbar a.active:hover {
    transition: all .3s ease-in-out;
    background-color: rgb(136, 14, 38);
    color: white;
  }

  @media (max-width: 1000px) {
    .topbar a {

      font-size: 14.6px;

    }

  }