
body
{
    background-image: url("../images/background.png");
    background-size:auto;

}

.logo
{
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 35vh;
  transition: all .3s ease-in-out;
  max-width:100%;
}

.logo:hover
{
    transform: scale(1.1);
}

